<div class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Crear nuevo Cliente</h4>
                      <p class="card-category">Ingrese información del Usuario</p>
                  </div>
                  <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col-6 align-content">
                            <label>Nombre &nbsp;</label>
                            <input type="text" class="form-controller" name="name">
                          </div>
                          <div class="col-6">
                            <label>Apellido &nbsp;</label>
                            <input type="text" class="form-controller" name="name">
                          </div>
                        </div> 
                        <div class="row">
                          <div class="col-4 align-content">
                            <label>Comuna&nbsp;</label>
                            <input type="text" class="form-controller" name="name">
                          </div>
                          <div class="col-4">
                            <label>Dirección &nbsp;</label>
                            <input type="text" class="form-controller" name="name">
                          </div>
                          <div class="col-4">
                            <label>Nro &nbsp;</label>
                            <input type="text" class="form-controller" name="name">
                          </div>
                        </div>
                        <div class="row p-2">
                          <div class="col-6">
                            <button class="btn-danger">Cancelar</button>
                          </div>
                          <div class="col-6">
                            <button class="btn-success">Agregar</button>
                          </div>
                        </div>                              
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
